/* Common definitions */
*{box-sizing: border-box;}
body{font-family: Arial;}
#container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Definitions for header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px;
}
#header-head{
    text-align: center;}
#header-img-logo{
    margin: auto;
    width: auto;
    height: auto;
    margin: 10px;
    border-radius: 35%;
}
#header-searchbox{
    width: 100%;
    height: 40px;

    margin: auto;

    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

    background-image: url('../bilder/searchicon.png');
    background-position: left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 4px 4px 4px 20px;
}
#header-img-shoppingcart{float: right;width: 40px;margin: auto;}

#header-righttop{display: flex;flex-direction: column;}
#header-righttop-minimenu{list-style: none;}
#header-righttop-minimenu li{display: inline-block;padding: 0 10px 0 0;}
#header-righttop-minimenu li a{text-decoration: none;position: relative;color: #5E5E5E;}
#header-righttop-minimenu li a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #000000;
    transition: 0.4s;
}
#header-righttop-minimenu li a:hover{color: #000000;}
#header-righttop-minimenu li a:hover:after{width: 100%;}

/* Definitions for menu */
nav{width: 100%;text-align: center;}
#header-menu{list-style: none;margin: 0;padding: 0;}
#header-menu li{margin: 1px;background: #2E5B8B;padding: 15px;}
#header-menu a{text-decoration: none;position: relative;color: #ffffff;}
#header-menu a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #cccccc;
    transition: 0.4s;
}
#header-menu a:hover{color: #cccccc;}
#header-menu a:hover:after{width: 100%;}

/* Definitions for main contents */
.main-title{font-size: 30px;font-weight: bold;}
.sub-title{font-size: 20px;font-weight: bold;}

/* Definitions for footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 150px;
    width: 100%;
    background: #F1F1F1;
    color: #5E5E5E;
}
footer p{
    text-align: center;
    margin: 0;
}

footer div{margin: auto;}
footer img{width: 40px;transition: width 0.4s;}
footer img:hover{width: 50px;}


#tb-footer-social-media{
    margin: auto;
    padding: 0;
    border-collapse: collapse;
}
#tb-footer-social-media td{
    width: 51px;
    height: 55px;
    padding: 0;
}